<div class="flex-row">
    <div class="title-text">~ The Crystal Hunt ~</div>
</div>
<div class="flex-row">
    <div class="container">
        <img class="menu-image" src="../../../assets/menuScene/mainMenu.png" />

        <div class="Credit-box">
            <div class="flex-row">
                <div class="Credit-content">
                    <p><span style="font-size: large;"><b>Game Assets</b></span><br><br>
                        Platformer Asset Pack from pixel_programmer (https://pixelprogrammer.itch.io/platformer-assets)<br><br>
                        Pixel Art Effect - FX084 from NYKNCK (https://kvsr.itch.io/fx084)<br><br>
                        pixeldudesmaker from 0x72 (https://0x72.itch.io/pixeldudesmaker)<br><br>
                        8-bit Game Sound Effects Collection from harvey656, created using Labbed(https://harvey656.itch.io/8-bit-game-sound-effects-collection)<br>
                        <br>
                        Contains music ©2020 Joshua McLean (https://joshua-mclean.itch.io)
                        Licensed under Creative Commons Attribution 4.0 International <br>

                    </p>
                    <div>
                        <a class="menu-button" (click)="onBackClicked()">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>