<div class="flex-row">
    <div class="title-text">~ The Crystal Hunt ~</div>
</div>
<div class="flex-row">
    <div class="container">
        <img class="menu-image" src="../../../assets/menuScene/mainMenu.png" />

        <div class="info-box">
            <div class="flex-row">
                <div class="info-content">
                    <p><span style="font-size: large;"><b>How to play?</b></span><br>
                        Fight off against waves of monsters. Destroy the Crystals to weaken the monsters and prevent them from spawning. Increase your strength as you go, and see 
                        how long you can last.<br>                       
                    </p>
                    <p><span style="font-size: large;"><b>Control</b></span><br>
                        [UP ARROW] Jump, [DOWN ARROW] Dodge<br>[LEFT ARROW] Move left, [RIGHT ARROW] Move right<br>
                        [A] Basic attack, [S] Ability 1<br>[D] Ability 2, [SPACE] Ultimate Ability
                    </p>
                    <p><span style="font-size: large;"><b>Abilities</b></span><br>
                        Abilities requires energy to use. Once you have enough energy, the ability icon will light up, indicating that it is available.
                    </p>
                    <div>
                        <a class="menu-button" (click)="onBackClicked()">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>