<div class="flex-row">
    <div class="title-text">~ The Crystal Hunt ~</div>
</div>
<div class="flex-row">
    <div class="container">
        <img class="menu-image" src="../../../assets/menuScene/mainMenu.png" />

        <div class="about-box">
            <div class="flex-row">
                <div class="about-content">
                    <p><span style="font-size: large;"><b>About this game</b></span><br>
                        This is using the Phaser-3 engine for gameplay and Angular for HTML/CSS web page construction.
                    </p>
                    <p><a href="https://github.com/Mrjuice04/TheCrystalHunt" target="_blank">Source at GitHub</a></p>
                    <p><a href="https://phaser.io/phaser3" target="_blank">https://phaser.io/phaser3</a></p>
                    <p><a href="https://angular.io" target="_blank">https://angular.io/</a></p>
                    <div>
                        <a class="menu-button" (click)="onBackClicked()">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>