<div class="flex-row">
    <div class="title-text"></div>
</div>
<div class="flex-row">
    <div class="container">
        <!-- <img class="menu-image" src="../../../assets/menuScene/mainMenu.png" /> -->

        <div class="button-box">
            <div class="flex-row">
                <div class="flex-col">
                    <a class="menu-button" (click)="onStartClicked()">Start</a>
                    <div style="font-family: 8-bit; position: absolute; left:-1000px; visibility:hidden;">.</div>
                </div>
            </div>
        </div>

    </div>
</div>
